@use "global" as *;

.p-flow {
  position: relative;
  background-color: $pink2;
}

.p-flow::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: myrem(-42);
  left: 0;
  transform: skewY(-4deg);
  transform-origin: top left;
  z-index: -1;
  background: $pink2;
}

.p-flow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: myrem(-72);
  left: 0;
  transform: skewY(-4deg);
  transform-origin: top left;
  z-index: -1;
  background: $pink2;
  @include mq(md) {
    bottom: myrem(-180);
  }
}

.p-flow__title {
  font-size: myrem(20);
  font-weight: 900;
  color: $pink1;
  text-align: center;
  @include mq(md) {
    padding-top: myrem(6);
    font-size: myrem(38);
  }
}

.p-flow__image {
  margin: myrem(-15) auto 0;
  width: myrem(170);
  @include mq(md) {
    margin-top: myrem(-22);
    width: myrem(400);
  }
}

.p-flow__image img {
  aspect-ratio: 170/6;
  @include mq(md) {
    aspect-ratio: 482/19;
  }
}

.p-flow__wrapper {
  margin: 0 auto;
  max-width: myrem(375);
  width: 100%;
  position: relative;
  @include mq(md) {
    max-width: myrem(1400);
  }
}

.p-flow__wrapper-image {
  width: myrem(165);
  position: absolute;
  top: myrem(-95);
  left: myrem(-69);
  @include mq(md) {
    width: myrem(415);
    top: myrem(-277);
    left: myrem(-1);
  }
}

.p-flow__list {
  counter-reset: number 0; /* number のカウンタを 0 にセット */
  margin: 0 auto;
  padding: myrem(41) myrem(15) 0;
  max-width: myrem(375);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: myrem(46);
  @include mq(md) {
    padding: myrem(64) myrem(200) 0;
    max-width: myrem(1400);
    row-gap: myrem(55);
  }
}

.p-flow__item {
  position: relative;
  background-color: $white;
  border: 1px solid $gold1;
  opacity: 0;
  margin-top: myrem(20);
}

.p-flow__item.is-show {
  opacity: 1;
  margin-top: 0;
  transition: 1s;
}

.p-flow__item.is-show:nth-of-type(1) {
  transition-delay: 0.5s;
}
.p-flow__item.is-show:nth-of-type(2) {
  transition-delay: 0.7s;
}
.p-flow__item.is-show:nth-of-type(3) {
  transition-delay: 0.9s;
}
.p-flow__item.is-show:nth-of-type(4) {
  transition-delay: 1.1s;
}
.p-flow__item.is-show:nth-of-type(5) {
  transition-delay: 1.3s;
}

.p-flow__item:not(:last-child)::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: myrem(-32);
  left: 50%;
  transform: translateX(-50%);
  border-top: myrem(16) solid $pink1;
  border-right: myrem(20) solid transparent;
  border-left: myrem(20) solid transparent;
  @include mq(md) {
    bottom: myrem(-40);
    border-top: myrem(19) solid $pink1;
    border-right: myrem(25) solid transparent;
    border-left: myrem(25) solid transparent;
  }
}

.p-flow__head {
  display: flex;
  align-items: center;
}

.p-flow__step {
  padding-left: myrem(12);
  width: 30%;
  display: flex;
  align-items: center;
  position: relative;
  font-size: myrem(12);
  font-weight: bold;
  font-family: $font-sub;
  letter-spacing: myrem(1.4);
  line-height: 1.3;
  text-transform: uppercase;
  color: $white;
  background-color: $pink1;
  @include mq(md) {
    padding-left: myrem(19);
    width: myrem(145);
    flex-shrink: 0;
    font-size: myrem(16);
    line-height: 1.2;
  }
}

.p-flow__step::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: myrem(-15.7);
  border-left: myrem(16) solid $pink1;
  border-top: myrem(17) solid transparent;
  border-bottom: myrem(17) solid transparent;
  @include mq(md) {
    right: myrem(-20.4);
    border-left: myrem(21) solid $pink1;
    border-top: myrem(24) solid transparent;
    border-bottom: myrem(24) solid transparent;
  }
}

.p-flow__step::after {
  counter-increment: number 1; /* number カウンタの増加数をセット */
  content: counter(number, decimal-leading-zero) " "; /* 表示形式を指定 */
  font-size: myrem(26);
  font-weight: 400;
  font-family: $font-cinzel;
  color: $white;
  @include mq(md) {
    font-size: myrem(40);
  }
}

.p-flow__step span::after {
  content: "";
  width: myrem(10);
  height: myrem(1);
  position: absolute;
  top: 45%;
  left: myrem(85);
  background-color: $white;
  @include mq(md) {
    width: myrem(13);
    top: 50%;
    left: myrem(122);
  }
}

.p-flow__item-title {
  padding-top: myrem(3);
  padding-left: myrem(24);
  width: 70%;
  font-size: myrem(17);
  font-weight: 900;
  color: $pink1;
  @include mq(md) {
    padding-top: myrem(10);
    padding-left: myrem(44);
    width: calc(100% - myrem(165));
    font-size: myrem(20);
  }
}

.p-flow__text {
  padding: myrem(5) myrem(13) myrem(8);
  font-size: myrem(16);
  font-weight: normal;
  line-height: 1.4;
  @include mq(md) {
    padding: myrem(3) myrem(10) myrem(15) myrem(190);
  }
}
