@use "global" as *;

.p-recommend {
  overflow: hidden;
}

.p-recommend__container {
  @include mq(md) {
    margin: 0 auto;
    max-width: myrem(1400);
    width: 100%;
  }
}

.p-recommend__catch {
  margin: 0 auto;
  width: fit-content;
  position: relative;
  font-size: myrem(20);
  font-weight: 900;
  color: $pink1;
  text-align: center;
  @include mq(md) {
    font-size: myrem(27);
    line-height: 1.3;
  }
}

.p-recommend__catch::before,
.p-recommend__catch::after {
  content: "";
  width: 0;
  height: myrem(52);
  position: absolute;
  border-left: 2px solid $pink1;
  border-radius: myrem(10);
  @include mq(md) {
    height: myrem(62);
    border-left: 3px solid $pink1;
  }
}

.p-recommend__catch::before {
  top: myrem(5);
  left: myrem(-19);
  transform: skew(28deg);
  @include mq(md) {
    top: myrem(10);
    left: myrem(-40);
  }
}

.p-recommend__catch::after {
  top: myrem(3);
  right: myrem(-24);
  transform: skew(-28deg);
  @include mq(md) {
    top: myrem(6);
    right: myrem(-41);
  }
}

.p-recommend__catch span {
  position: relative;
}

.p-recommend__catch span::before,
.p-recommend__catch span::after {
  position: absolute;
  content: "";
  width: 0;
  height: myrem(52);
  position: absolute;
  border-left: 2px solid $pink1;
  border-radius: myrem(10);
  @include mq(md) {
    height: myrem(62);
    border-left: 3px solid $pink1;
  }
}

.p-recommend__catch span::before {
  top: myrem(6);
  left: myrem(-64);
  transform: skew(28deg);
  @include mq(md) {
    top: myrem(11);
    left: myrem(-85);
  }
}

.p-recommend__catch span::after {
  top: myrem(4);
  right: myrem(-19);
  transform: skew(-28deg);
  @include mq(md) {
    top: myrem(9);
    right: myrem(-31);
  }
}

.p-recommend__triangle {
  margin: myrem(20) auto 0;
  width: myrem(345);
  height: myrem(75);
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  background: linear-gradient(
    to bottom,
    $white,
    rgba(203, 70, 132, 0.5) 50%,
    $pink6 100%
  );
  @include mq(md) {
    margin-top: myrem(33);
    width: myrem(401);
    height: myrem(78);
  }
}

.p-recommend__inner1 {
  @include mq(md) {
    position: relative;
  }
}

.p-recommend__image {
  display: none;
  @include mq(md) {
    width: 145%;
    display: block;
    position: absolute;
    top: myrem(-194);
    left: -16%;
    z-index: -1;
  }
}

.p-recommend__bottom {
  margin-top: myrem(20);
  @include mq(md) {
    margin-top: myrem(22);
    padding-left: myrem(7);
  }
}

.p-recommend__inner2 {
  @include mq(md) {
    width: 100%;
    position: absolute;
    left: 18%;
  }
}

.p-recommend__title {
  font-size: myrem(16);
  font-weight: 900;
  text-align: center;
  @include mq(md) {
    font-size: myrem(28);
    letter-spacing: myrem(0.4);
    text-align: start;
  }
}

.p-recommend__title2 {
  margin-top: myrem(-2);
  font-size: myrem(30);
  font-weight: 900;
  color: $pink1;
  text-align: center;
  border-bottom: none;
  @include mq(md) {
    margin-top: myrem(-9);
    font-size: myrem(53);
    text-align: start;
  }
}

.p-recommend__title2 span {
  position: relative;
  font-size: myrem(36);
  font-weight: 900;
  color: $gold1;
  @include mq(md) {
    font-size: myrem(60);
  }
}

.p-recommend__title2 span::before {
  content: "";
  width: 100%;
  height: 1.17px;
  background-color: $gold1;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: myrem(5);
  @include mq(md) {
    height: 2.97px;
  }
}

.p-recommend__inner3 {
  margin-top: myrem(13);
  display: flex;
  flex-direction: column;
  row-gap: myrem(16);
  @include mq(md) {
    margin-top: myrem(25);
    flex-direction: row;
    column-gap: myrem(32);
  }
}

.p-recommend__inner3-1 {
  margin: 0 auto;
  width: 51%;
  @include mq(md) {
    margin: 0;
    width: inherit;
  }
}

.p-recommend__graph {
  padding-bottom: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
  background-image: conic-gradient($pink1 0deg 327deg, $pink7 327deg 360deg);
  box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
  @include mq(md) {
    margin: myrem(30) 0 0;
    width: myrem(243);
    height: myrem(243);
    box-shadow: 3.8998px 3.8998px 3.8998px 0 rgb(0, 0, 0, 0.25);
  }
}

.p-recommend__graph2 {
  background-image: conic-gradient($pink1 0deg 340deg, $pink7 340deg 360deg);
  @include mq(md) {
    margin: 0;
    width: myrem(272);
    height: myrem(272);
  }
}

.p-recommend__texts {
  width: 100%;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-recommend__text1 {
  padding-right: myrem(15);
  padding-left: myrem(16);
  width: fit-content;
  position: relative;
  top: myrem(38);
  left: 15%;
  font-size: myrem(10);
  font-weight: 900;
  background-color: $white;
  @include mq(md) {
    padding-right: myrem(18);
    padding-left: myrem(22);
    top: myrem(47);
    left: myrem(36);
    font-size: myrem(13);
  }
}

.p-recommend__text1-2 {
  padding-right: myrem(14);
  padding-left: myrem(23);
  top: myrem(40);
  left: myrem(33);
  @include mq(md) {
    padding-right: myrem(13);
    padding-left: myrem(32);
    top: myrem(56);
    left: myrem(46);
    font-size: myrem(17);
  }
}

.p-recommend__text1 span {
  position: absolute;
  top: myrem(-14);
  left: myrem(5);
  font-size: myrem(21.51);
  font-weight: 900;
  font-style: italic;
  text-shadow: 1px 1px 1px $white, -1px -1px 1px $white, -1px 1px 1px $white,
    1px -1px 1px $white, 1px 0 1px $white, -1px 0 1px $white, 0 1px 1px $white,
    0 -1px 1px $white;
  @include mq(md) {
    top: myrem(-14);
    left: myrem(10);
    font-size: myrem(27);
  }
}

.p-recommend__text1-2 span {
  @include mq(md) {
    top: myrem(-19);
    left: myrem(12);
    font-size: myrem(34);
  }
}

.p-recommend__text2 {
  position: relative;
  top: myrem(27);
  left: 50%;
  transform: translateX(-50%);
  font-size: myrem(61);
  font-weight: 900;
  text-shadow: 2px 2px 2px $white, -2px -2px 2px $white, -2px 2px 2px $white,
    2px -2px 2px $white, 2px 0 2px $white, -2px 0 2px $white, 0 2px 2px $white,
    0 -2px 2px $white;
  text-align: center;
  @include mq(md) {
    top: myrem(32);
    left: myrem(68);
    transform: unset;
    font-size: myrem(78);
    text-align: start;
  }
}

.p-recommend__text2--gold {
  color: $gold1;
}

.p-recommend__text2-2 {
  top: myrem(30);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @include mq(md) {
    top: myrem(37);
    left: myrem(66);
    transform: unset;
    font-size: myrem(88);
    text-align: start;
  }
}

.p-recommend__text2 span {
  font-size: myrem(31);
  font-weight: 900;
  @include mq(md) {
    font-size: myrem(40);
  }
}

.p-recommend__text2-2 span {
  @include mq(md) {
    font-size: myrem(49);
  }
}

.p-recommend__text2::after {
  content: "の方が";
  position: absolute;
  top: myrem(74);
  left: 63%;
  font-size: myrem(12);
  font-weight: 900;
  color: $white;
  text-shadow: none;
  @include mq(md) {
    top: myrem(94);
    left: myrem(89);
    font-size: myrem(16);
  }
}

.p-recommend__text2-2::after {
  top: myrem(77);
  left: 64%;
  @include mq(md) {
    top: myrem(112);
    left: myrem(109);
  }
}

.p-recommend__text3 {
  position: relative;
  top: myrem(24);
  left: 50%;
  transform: translateX(-50%);
  font-size: myrem(21);
  font-weight: 900;
  text-align: center;
  color: $white;
  @include mq(md) {
    top: myrem(29);
    left: myrem(47);
    transform: none;
    font-size: myrem(27);
    text-align: start;
  }
}

.p-recommend__text3-2 {
  top: myrem(29);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @include mq(md) {
    top: myrem(36);
    left: myrem(55);
    transform: unset;
    font-size: myrem(29);
    text-align: start;
  }
}
.p-recommend__text-bottom {
  margin-top: myrem(6);
  padding-right: myrem(13);
  max-width: myrem(600);
  font-size: myrem(13);
  font-weight: 500;
  font-family: $font-noto;
  text-align: end;
  @include mq(md) {
    margin-top: myrem(20);
    text-align: start;
  }
}
