@use "global" as *;

.p-worries {
  position: relative;
}

.p-worries::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #fcf1f1, #fff);
}

.p-worries__wrapper {
  padding: 0 myrem(15);
}

.p-worries__list {
  margin: 0 auto;
  padding: myrem(26) myrem(14) myrem(31) myrem(15);
  max-width: myrem(550);
  width: 100%;
  position: relative;
  background-color: $black-main;
  border: 1px solid transparent;
  clip-path: polygon(
    4% 0%,
    96% 0%,
    100% 4%,
    100% 96%,
    96% 100%,
    4% 100%,
    0 96%,
    0 4%
  );
  @include mq(md) {
    max-width: myrem(600);
    padding: myrem(15) 0 myrem(27);
    clip-path: polygon(
      4% 0%,
      96% 0%,
      100% 10%,
      100% 90%,
      96% 100%,
      4% 100%,
      0 89%,
      0 10%
    );
  }
}

.p-worries__list::before {
  content: "";
  position: absolute;
  inset: myrem(0.1);
  background-color: $white;
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 4%,
    100% 96%,
    96% 100%,
    4% 100%,
    0 96%,
    0 4%
  );
  z-index: -1;
  @include mq(md) {
    clip-path: polygon(
      4% 0%,
      96% 0%,
      100% 10%,
      100% 90%,
      96% 100%,
      4% 100%,
      0 89%,
      0 10%
    );
  }
}

.p-worries__top-title {
  font-size: myrem(18);
  font-weight: 500;
  text-align: center;
  @include mq(md) {
    font-size: myrem(20);
  }
}

.p-worries__top-title span {
  padding: 0 myrem(10) 0 myrem(6);
  position: relative;
  font-size: myrem(24);
  font-weight: 500;
  @include mq(md) {
    font-size: myrem(28);
  }
}

.p-worries__top-title span::before,
.p-worries__top-title span::after {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.p-worries__top-title span::before {
  width: myrem(10);
  height: myrem(10);
  top: 0;
  left: 0;
  background-image: url(../images/quotation__left.png);
  @include mq(md) {
    width: myrem(10);
    height: myrem(10);
    top: myrem(4);
    left: myrem(-5);
  }
}

.p-worries__top-title span::after {
  width: myrem(15);
  height: myrem(15);
  top: 0;
  right: myrem(4);
  background-image: url(../images/quotation__right.png);
  @include mq(md) {
    top: myrem(3);
    right: myrem(6);
  }
}

.p-worries__item {
  margin-top: myrem(14);
  margin-left: myrem(26);
  position: relative;
  font-size: myrem(16);
  font-weight: 500;
  @include mq(md) {
    margin-left: myrem(122);
    font-size: myrem(16);
  }
}

.p-worries__item:nth-of-type(3),
.p-worries__item:nth-of-type(4) {
  margin-top: myrem(11);
  @include mq(md) {
    margin-top: myrem(8);
  }
}

.p-worries__item:nth-of-type(5),
.p-worries__item:nth-of-type(6) {
  margin-top: myrem(17);
  @include mq(md) {
    margin-top: myrem(7);
  }
}

.p-worries__item:before {
  content: "";
  width: myrem(16);
  height: myrem(16);
  position: absolute;
  top: myrem(6);
  left: myrem(-24);
  background-image: url(../images/worries__check.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
    width: myrem(20);
    height: myrem(20);
    top: myrem(3);
    left: myrem(-27);
  }
}

.p-worries__item:after {
  content: "";
  width: myrem(15);
  height: myrem(15);
  position: absolute;
  top: myrem(5);
  left: myrem(-26);
  border: 1px solid $black-main;
  border-radius: myrem(2);
  @include mq(md) {
    width: myrem(18);
    height: myrem(18);
    left: myrem(-29);
  }
}

.p-worries__item span {
  display: inline;
  background: linear-gradient(transparent 60%, $pink2 30%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1.8s;
}

.p-worries__item span.is-active {
  background-size: 100% 100%;
}
