@use "global" as *;

.l-plan {
  padding-top: myrem(60);
  padding-bottom: myrem(68);
  @include mq(md) {
    padding-top: myrem(102);
    padding-bottom: myrem(130);
  }
}

.l-plan-bottom {
  padding-bottom: myrem(103);
  @include mq(md) {
    padding-bottom: myrem(202);
  }
}
